In [1]:
import subset
import pandas as pd
import numpy as np

In [2]:
station = subset.get_all_station()

In [3]:
data = pd.DataFrame(station)

In [5]:
data.to_csv('ndbc_station_information.cvv', index=False)

In [7]:
data.head(5)

  height     lat     lon   name
0     10  44.794 -87.313  0y2w3
1      4  12.000 -23.000  13001
2      4  21.000 -23.000  13002
3      4  15.000 -38.000  13008
4      4   8.000 -38.000  13009

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./ndbc_station_information.csv')

In [6]:
data.set_index('name',inplace=True)

In [8]:
data.to_csv('ndbc_station_information.csv')

In [7]:
data.head(5)

       height     lat     lon
name
0y2w3    10.0  44.794 -87.313
13001     4.0  12.000 -23.000
13002     4.0  21.000 -23.000
13008     4.0  15.000 -38.000
13009     4.0   8.000 -38.000

In [ ]:
data.to